/**
 * Variables
 */

$theme-colors: (primary: #525ddc,
);

$color-lightblue: #00a9e0;
$color-lightgreen: #00bf6f;
$color-pink: #ef426f;
$color-violet: #363D87;
$color-dark: #2A2E31;

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin bgImage($url) {
  background-image: $url;
  background-repeat: no-repeat;
  background-size: contain;
}

@function set-color-litght($color) {
  @if lightness($color)>70 {
    @return #333333;
  }

  @else {
    @return #ffffff;
  }
}
