/**
 * Button
 */

.btn {
  width: 300px;
  padding: 19px 27px 21px;
  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  color: #fff;
  background-color: $color-pink;
  box-shadow: 10px 10px 0px 0px $color-violet;

  span {
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
  }

  &:hover,
  .active {
    box-shadow: 4px 4px 0px 0px $color-violet;
  }
}
