div.footer {
  width: 100%;
  height: auto;

  padding-bottom: 50px;

  background-color: $color-dark;
  color: set-color-litght($color-dark);

  header {
    padding-top: 204px;
    margin-bottom: 100px;

    h1 {
      color: set-color-litght($color-dark);
    }
  }

  .footer-section {
    margin-bottom: 164px;

    @extend .flexBetween;
    align-items: unset;

    .footer-selection {
      width: 90%;
      max-width: 370px;

      .button {
        background-color: $color-pink;

        +.button {

          background-color: $color-lightgreen;

          +.button {

            background-color: $color-lightblue;
          }
        }
      }

      .button {
        width: 100%;
        height: 115px;

        @extend .flexBetween;

        font-size: 2.8rem;
        color: #5F676C;

        text-decoration: none;
        margin-bottom: 4px;

        transition: 600ms;

        span {
          width: 100%;
          height: 100%;

          @extend .flexCenter;
          justify-content: space-around;

          background-color: #40464A;


          &:hover,
          .active {
            background-color: set-color-litght($color-dark);
            transform: translate(-4%, -10%);
          }
        }

      }
    }

    .footer-ul ul {
      width: 770px;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

      gap: 5px 30px;

      li {
        width: 370px;
        height: 111px;
        list-style: none;
        background-color: #1d2327;

        color: #fff;

        @extend .flexBetween;

        padding: 20px;
        font-size: 1.8rem;

        strong {
          color: $color-pink;
          font-size: 1.4rem;

        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 321px;

  background-color: #f2f2f2;
  position: relative;

  .footer-main {
    height:100%;
    max-height: 193px;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    position: relative;

    top: -86px;
    box-shadow: 0 1px 7px -4px black;

    article {
      padding: 0 80px;

      @extend .flexCenter;

      border: 1px solid #f2f2f2;
      font-size: 2.8rem;
      font-weight: bolder;


      i.fas,
      i.far,
      i.fab {
        margin-right: 40px;
        font-size: 6.0rem;
        color: #a2a2a2;
      }
    }

    article:hover {
      background-color: #f2f2f2;

      i.fas,
      i.far {
        color: $color-lightblue;
      }

      i.fab {
        color: $color-lightgreen;
      }
    }
  }

  .footer-main-content {
    margin-top: 30x;

    @extend .flexBetween;

    .footer-main-logo-primary .custom-logo {
      width: 50%;
      height: auto;
    }

    .footer-main-logo-secundary ul {
      width: 150px;
      @extend .flexCenter;
      justify-content: space-around;

      li {
        list-style: none;

        i.fab {
          color: #a2a2a2;
          font-size: 1.6rem;
        }

        &:hover i.fab {
          color: #000;
        }
      }

    }
  }

  .footer-main-copyright {
    font-size: 1.3rem;
    margin: 40px auto 0;
    @extend .flexBetween;

    p {
      font-size: 1.4rem;
    }
  }
}

div.icon-what {
  position: fixed;
  bottom: 50px;
  right: 5%;
  z-index: 30;

  width: 60px;
  height: 60px;

  @extend .flexCenter;

  background-color: #fff;

  border-radius: 50%;

  z-index: 100;
  box-shadow: 0px 2px 6px -2px black;

  cursor: pointer;

  .fab {
    font-size: 30px;
    color: $color-lightgreen;
    z-index: 60;
  }
}
