/**
 * Header
 */
body {

  .header {
    width: 78%;
    height: 123px;

    @extend .flexBetween;

    margin: 0px auto;

    .logo-header {

      img {
        width: 180px;
      }

    }

    ul.nav {
      @extend .flexBetween;
      align-self: flex-end;


      li {
        display: inline-flex;
        list-style: none;

        font-size: 1.8rem;
        font-family: Muli, sans-serif;
        cursor: pointer;

        a {
          font-size: 1.8rem;
          font-family: Muli, sans-serif;
          text-decoration: none;
          color: $color-dark;

          &:hover {
            text-decoration: none;
          }
        }

        +li {
          margin-left: 80px;
        }
      }

    }

  }

}
