@media (max-width: 1300px) {
    main {
      .main-head img {
        width: 50%;
        height: 110%;
      }
  
      .main-head .arrowdown {
        bottom: -17%;
      }
  
      .main-content-section-secundary section {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr))!important;
        gap: 15px;
      }
  
      .main-content-first {
        height: 485px;
      }
    }
  }
  
  @media (max-width: 1170px) {
    main {
      .main-content-section {
        .main-content-section-article {
          align-items: center;
  
          margin-top: 150px;
          .main-content-section-header {
            margin-bottom: 50px;
            h1 {
              text-align: center;
            }
          }
  
          .div-grid {
            display: flex !important;
            flex-direction: column;
            align-items: center;
  
            .main-content-section-video {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              display: contents;
  
              img {
                margin-bottom: 40px !important;
              }
            }
  
            .main-content-section-content {
              margin-top: 50px;
  
              h3 {
                margin-bottom: 30px !important;
                text-align: center;
              }
            }
          }
        }
      }
  
      .main-content-section-primary {
        margin-top: 40px;
  
        header {
          h1 {
            width: 660px;
            max-width: 100%;
          }
        }
  
        .section.bg-green .main-content-section-article a {
          position: relative;
          bottom: 0;
        }
  
        .section.bg-pink .main-content-section-article {
          img {
            width: 395px;
            margin-left: 115px;
          }
  
          a {
            margin-left: 160px;
          }
        }
      }
  
      div.footer {
        .footer-section {
          flex-direction: column;
  
          .footer-selection {
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            a {
              flex-basis: 32%;
            }
          }
          .footer-ul ul {
            width: auto;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          }
        }
      }
    }
  }
  
  @media (max-width: 1050px) {
    main {
      .main-head img {
        max-width: 100%;
        width: 100%;
        height: auto;
        z-index: -1;
      }
  
      .main-head .arrowdown {
        bottom: -8%;
      }
  
      .main-content-first {
        height: 485px;
      }
    }
  }
  