//*****************************************
//
//    SECTION CONTENT FIRST
//
//*****************************************

main {
  .main-content-first {
    margin-top: 10px;
    height: 540px;

    @extend .flexCenter;
    align-items: unset;

    position: relative;

    margin: 0 auto;
        top: -100px;
    background-color: $color-lightgreen;

    .main-content-first-div {
      width: 90%;
      max-width: 1170px;
      height: 421px;

      position: absolute;
      bottom: -79px;

      display: flex;
      z-index: 2;

      .main-content-first-article {
        background-color: #fff;
        width: 770px;
        height: 421px;

        box-shadow: 1px 1px 5px -3px black;
        position: relative;

        .span-vertical-bar {
          position: absolute;
          left: 0;
          width: 10px;
          height: 90px;
          top: 80px;

          background-color: $color-violet;
        }

        header {
          width: 370px;
          margin: 80px 0 0 100px;

          display: flex;
          flex-direction: column;

          h2 {
            margin-bottom: 30px;
            color: $color-pink;
          }
        }
      }

      .main-content-first-img {
        width: 570px;
        height: 341px;

        position: absolute;
        top: 0;
        right: 0;

        @extend .flexCenter;

        overflow: hidden;

        box-shadow: 1px -3px 5px -3px black;

        .span-cicle {
          width: 100px;
          height: 100px;

          @extend .flexCenter;

          position: absolute;
          border: 8px solid $color-pink;


          border-radius: 50%;
          z-index: 50;

          .span-arrowright {
            width: 0;
            height: 0;

            @extend .flexCenter;

            margin-top: 2%;
            margin-left: 10%;

            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 25px solid #fff;
            border-radius: 5px;
          }
        }

        &:hover {
          transition: 600ms;
          transform: scale(1.05);
          filter: brightness(130%);

          .span-cicle {
            background-color: $color-pink;
          }
        }

      }
    }
  }
}
